<div class="header">
  <div class="header-wrap">
    <app-header-nav />
    <div class="menu-wrap">
      @if(!userData?.uid){
      <button class="menu-btn" type="button" (click)="openLoginModal()">
        <svg class="icon-user">
          <use xlink:href="../../../../assets/sprite.svg#icon-user"></use>
        </svg>
        Авторизація
      </button>
      }@else{
      <app-dropdown-menu
        [userName]="userData?.displayName"
        (logOut)="logOut()"
      ></app-dropdown-menu>
      }
    </div>
  </div>
</div>
