<div class="header">
  <div class="header-wrap">
    <app-header-nav [isUser]="isUser" [isAdmin]="isAdmin" />
    <div class="menu-wrap">
      <app-dropdown-menu
        *ngIf="isAdmin || isUser; else authModal"
        (logOut)="logOut()"
      ></app-dropdown-menu>
      <ng-template #authModal>
        <button class="menu-btn" type="button" (click)="openLoginModal()">
          <svg class="icon-user">
            <use xlink:href="../../../../assets/sprite.svg#icon-user"></use>
          </svg>
          Авторизація
        </button>
      </ng-template>
    </div>
  </div>
</div>
