.product-list {
  padding: 1rem 0;
  gap: 2rem;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 844px) {
  .product-list {
    justify-content: flex-start;
  }
}
