<div class="container">
  <div style="display: flex; justify-content: center">
    <img src="https://mhealthzdravo.com.ua/_nuxt/about_1.Ci3EvSOf.svg" alt="" />
  </div>

  <div>
    <h1 class="section-title">Платформа Mental Health від Zdravo</h1>
    <p class="section-content">
      Частина комплексного проєкту, який допомагає нашим клієнтам на шляху до
      кращого ментального здоров’я та якісного життя.
    </p>
    <p class="section-content">
      Сайт — лише частина від великої кількості різноманітних сервісів компанії
      Zdravo. Ми зібрали матеріали та інструменти, що підсилюють один одного та
      у сукупності можуть ефективно допомогти у боротьбі з депресією, тривожними
      розладами, безсонням та іншими станами.
    </p>
  </div>

  <h2 class="section-title">Про нас</h2>
  <p class="section-content">
    На нашому сайті ви зможете знайти наступні розділи:
  </p>

  <div class="sections">
    <div *ngFor="let section of aboutShop" class="card">
      <h3 class="card__title">{{ section.title }}</h3>
      <p class="card__description">{{ section.description }}</p>
    </div>
  </div>

  <h2 class="section-title">Ментальне здоровʼя</h2>
  <p class="section-content">
    За визначенням ВООЗ, це стан щастя та добробуту, в якому людина може
    реалізовувати свої здібності, протистояти життєвим стресам, продуктивно
    працювати та робити внесок у суспільне життя. Це те, що дозволяє нам
    нормально спілкуватись, втілювати власні мрії та бажання, радіти й
    отримувати задоволення від життя.
  </p>
  <p class="section-content">
    Психічне та фізичне здоров’я пов’язані між собою. Наприклад, депресія
    підвищує ризик виникнення багатьох проблем із фізичним здоров’ям, особливо
    таких захворювань, як діабет, серцеві захворювання та інсульт. Так само
    наявність хронічних захворювань може збільшити ризик психічних захворювань.
  </p>

  <h2 class="section-title">Про нас</h2>
  <div class="section-content-wrap">
    <div class="section-bg-wrap">
      <p class="section-content">
        <span class="subtitle"> Zdravo -</span>
        <br />
        Фармацевтична компанія, яка з 2006 року забезпечує пацієнтів дієвими та
        якісними ліками. За ці роки ми зрозуміли, що лікування будь-якого
        захворювання не може полягати лише у медикаментозній терапії.
      </p>
      <p class="section-content">
        Тому ми створили комплексний продукт Mental Health (Ментальне здоровʼя),
        який поєднує не тільки фармацевтичні та симптоматичні засоби, але й
        інструменти супроводу пацієнта.
      </p>
      <p class="section-content">
        Сподіваємось, що наші ліки, корисні поради та інструменти допоможуть
        покращити ваше ментальне здоров’я та якість життя.
      </p>
    </div>
    <img src="https://mhealthzdravo.com.ua/_nuxt/about_3.CRLnuCBF.svg" alt="" />
  </div>
</div>
