<div class="navigation-wrap">
  <button
    type="button"
    class="navigation-buttons-next"
    (click)="previousQuestion()"
    [disabled]="currentQuestionIndex === 0"
  >
    <span class="text"> Попереднє питання </span>
    <span>Mental health</span>
  </button>
  <button
    *ngIf="currentQuestionIndex !== selectedTest.questions.length - 1"
    type="button"
    class="navigation-buttons-next"
    (click)="nextQuestion()"
    [disabled]="!disabledButton"
  >
    <span class="text"> Наступне питання </span><span>Mental health</span>
  </button>
  <button
    type="submit"
    *ngIf="currentQuestionIndex === selectedTest.questions.length - 1"
    class="resolve-button"
  >
    Результат
  </button>
</div>
