.cancel-btn {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  z-index: 999;
  width: 158px;
  height: 38px;
  font-weight: 600;
  padding: 0.5rem;

  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  background-color: rgb(236, 28, 13);
  transition: all 0.25s;
}
.cancel-btn:hover {
  color: #ffffffb9;
}
