<form [formGroup]="formGroupAuth" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-group" appearance="fill">
    <mat-label>Role</mat-label>
    <mat-select (selectionChange)="onChangeRole($event)" formControlName="role">
      <mat-option value="User">User</mat-option>
      <mat-option value="Admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="!isLogin" class="form-group" appearance="fill">
    <mat-label>Ім'я</mat-label>
    <input matInput type="text" formControlName="displayName" />
  </mat-form-field>

  <mat-form-field class="form-group" appearance="fill">
    <mat-label>Пошта</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field class="form-group" appearance="fill">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>
  <mat-form-field *ngIf="!isLogin" class="form-group" appearance="fill">
    <mat-label>Підтвердіть пароль</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="formGroupAuth.invalid || !isLogin"
  >
    {{ isLogin ? "Увійти" : "Зареєструватися" }}
  </button>
  <div [hidden]="isLogin">
    <app-btn-google [isLogin]="isLogin"></app-btn-google>
  </div>
</form>
