<div class="message-panel">
  <div class="goBack-btn-wrap">
    <app-go-back-btn [lastPath]="lastPath"></app-go-back-btn>
  </div>
  <mat-toolbar color="secondary">
    <h2>Підтримка</h2>
  </mat-toolbar>
  <div class="message-panel-body mat-card">
    <mat-card *ngFor="let message of messages" class="message-card">
      <span class="message-title">
        {{ userData.displayName }}
      </span>
      <span class="message-date">
        {{ message.date | date : "dd/MM/yyyy" }}
      </span>
      <br />{{ message.text }}
    </mat-card>
  </div>
  <div class="message-panel-footer">
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input
          matInput
          type="text"
          formControlName="message"
          placeholder="Повідомлення..."
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="form-btn"
        type="submit"
        [disabled]="messageForm.invalid"
      >
        Надіслати
      </button>
    </form>
  </div>
</div>
