<div class="subtitle-wrap">
  <h2 class="section-title">Результати</h2>
  <p class="section-content">
    <span> Результати тестування </span>
    та поради стосовно подальших дій ви отримаєте одразу ж після надання
    відповідей - вони будуть виведені на екран, або за бажанням надіслані вам на
    електронну пошту.
  </p>
  <p class="section-content">
    Якщо в отриманих результатах є порада звернутися по лікарську допомогу, будь
    ласка, не зволікайте та не займайтесь самолікуванням - легкий та помірний
    ступінь депресивного та тривожного розладу може швидко трансформуватися у
    важкий ступінь
  </p>
</div>
