.container-item {
  max-width: 480px;
  height: 570px;
  background: #fff;
  border: 1px solid rgba(2, 67, 107, 0);
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}
.container-item img {
  object-fit: contain;
  display: block;
  width: 410px;
  height: 300px;
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container-item p {
  margin-bottom: 0.5rem;
  height: 45px;
}
.item-declaimer {
  width: 130px;
  right: 1rem;
  top: 1rem;

  position: absolute;
}
.item-declaimer p {
  font-weight: 600;
  padding: 0.5rem;
  background: rgba(222, 217, 78, 0.4);
  border-radius: 5px;
  font-size: 0.8rem;
  height: 30px;

  color: #000;
  text-align: center;
  align-self: flex-start;
  margin: 0;
}
.product-item-price {
  color: #3f3f3f;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 124%;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  font-style: normal;
  text-align: left;
}
.product-item-price sub {
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
.product-info-wrap {
  padding: 1rem 1.4rem 2.6rem;
}
.subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 177%;

  font-style: normal;
  color: #017f9d;
}
.product-btn-detail {
  width: 158px;
  border-radius: 10px;
  height: 38px;

  border: none;
  outline: none;
  background: #eaeaea;
  cursor: pointer;
  transition: all 0.25s;
}
.product-btn-detail:hover {
  background-color: transparent;
  border: 1px solid #017f9d;
}
.item-btns-wrap {
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;

  display: flex;
  justify-content: center;
}
.container-item h2 {
  font-size: 1.2rem;
  color: #3f3f3f;
  font-weight: 600;
  line-height: 150%;
  height: 60px;

  cursor: pointer;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
}

.quantity-product {
}

.link-wrap {
  top: 1rem;
  right: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
}

.item-remove-btn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;

  display: block;
  background-color: red;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.item-remove-btn:hover {
  background-color: rgb(218, 25, 25);
}
