<div class="hero-container">
  <div class="hero-bg"></div>
  <div class="hero-content">
    <h1 class="hero-title">Mental Health by Zdravo</h1>
    <p class="hero-subtitle">
      Метою проєкту Mental Health by Zdravo є створення нового досвіду лікування
      розладів ментального здоров’я. Zdravo, як фармацевтична компанія, що вже
      17 років працює на українському ринку, добре розуміє - ефективна підтримка
      та лікування ментального здоров’я неможливе лише за використання
      медикаментів. Тільки комплексна терапія здатна дати якісний та
      довготривалий результат. Читайте в розділі “Про MH by Zdravo”, який шлях
      ми пройшли у своєму розумінні цього, та чого мріємо досягти.
    </p>
    <button
      [routerLink]="['/about-shop']"
      mat-raised-button
      color="primary"
      (click)="onButtonClick()"
    >
      Читати далі
    </button>
  </div>
</div>
