.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  width: 350px;
  height: 350px;
  border-radius: 1rem;
  border: 1px solid #bdbdbd;

  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
}

.slider img {
  width: 350px;

  object-fit: cover;
}

.slider_btn {
  top: 50%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;

  cursor: pointer;
  position: absolute;
  color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s linear;
}
.slider_btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.prev {
  left: -1rem;
}

.next {
  right: -1rem;
}
