.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding-left: 0;
}
.nav-item {
  position: relative;
  display: flex;
  align-items: center;
}
a,
.icon-cart {
  transition: all 0.25s;
}

.nav-item a {
  text-decoration: none;

  font-weight: 500;
  display: flex;
  align-items: center;
  color: #060606;
}
.icon-user {
  width: 28px;
  height: 28px;

  cursor: pointer;
  fill: #333333cb;
}
.nav-item button:hover {
  transform: scale(1.05);
  color: #ca3838be;
}
.nav-item button:hover svg {
  fill: #ca3838be;
}
.nav-item button {
  text-decoration: none;

  font-weight: 500;
  display: flex;
  transition: all 0.25s;
  border: none;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  color: #060606;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active a {
  color: #ca3838be;
  fill: #ca3838be;
}
.active .icon-cart {
  fill: #ca3838be;
}
.nav-cart svg {
  width: 28px;
  height: 28px;
  fill: #333;
}
.social-links-wrap {
  margin-left: 3rem;
}
.header-logo-wrap {
  margin-right: 80px;
}
.header-nav-logo {
  width: 148px;
}
