<nav class="header-nav">
  <ul class="nav-list">
    <div class="header-logo-wrap">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="['/']">
          <img
            class="header-nav-logo"
            src="../../../../../assets/logo.CsmsUg0x.svg"
            alt=""
          />
        </a>
      </li>
    </div>
    <li class="nav-item" routerLinkActive="active">
      <a [routerLink]="['/products']">Товари</a>
    </li>

    @if(!isAdmin()){
    <app-user-nav></app-user-nav>
    } @else {
    <li class="nav-item" routerLinkActive="active">
      <a [routerLink]="['/add-new-product']">Додати товар</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a [routerLink]="['/about-shop']">Про нас</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <app-admin-panel-menu></app-admin-panel-menu>
    </li>
    <div class="social-links-wrap">
      <app-social-links></app-social-links>
    </div>
    }
  </ul>
</nav>
