<div>
  <div
    class="title-wrap"
    *ngIf="currentQuestionIndex !== selectedTest.questions.length"
  >
    <div class="test-title">
      <h1>
        {{ selectedTest.title }}
        <span>{{ selectedTest.problemName }}</span>
      </h1>
    </div>
    <img [src]="selectedTest.img" alt="" />
  </div>
  <div class="form-wrap">
    <app-selected-test-form
      (nextQuestion)="nextQuestion()"
      (previousQuestion)="previousQuestion()"
      (calculateScore)="calculateScore()"
      [testForm]="testForm"
      [currentQuestionIndex]="currentQuestionIndex"
      [selectedTest]="selectedTest"
      [options]="options"
      [score]="score"
    ></app-selected-test-form>
  </div>

  <div class="goBack-btn-wrap">
    <app-tests-go-back-btn></app-tests-go-back-btn>
  </div>
</div>
