<div class="container">
  <div class="filter-wrap">
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-label>Пошук товару</mat-label>
      <input
        matInput
        [formControl]="searchControl"
        placeholder="Почніть пошук"
      />
    </mat-form-field>
  </div>
  <div class="no-content" *ngIf="!filteredProducts.length">
    <img
      src="https://tse1.mm.bing.net/th?id=OIP.M4xNU05rCc_5yHL4wuxqhgHaHa&pid=Api&P=0&h=280"
      alt=""
    />
    <h2>Не знайдено жодного товару.</h2>
  </div>
  <app-product-list [products]="paginatedProducts"></app-product-list>
  <ng-container *ngIf="filteredProducts.length > 5">
    <mat-paginator
      style="background-color: #f4f4f4"
      [length]="filteredProducts.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10]"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </ng-container>
</div>
