.app-container {
}

.outlet-wrap {
  padding-top: 100px;
}
.main {
  width: 100%;
  margin: 0 auto;
  min-height: 1040px;
  max-width: 1370px;
  padding: 1rem;
}
.footer-wrap {
  padding-top: 3rem;
}
