<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a [routerLink]="['/about']">Про нас</a></li>
          <li><a [routerLink]="['/products']">Наші товари</a></li>
          <li><a [routerLink]="['/my-products']">Мої покупки</a></li>
          <li><a [routerLink]="['/online-tests']">Пройти тест</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Довідка</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Покупки</a></li>
          <li><a href="#">Повернення</a></li>
          <li><a href="#">Статус замовлення</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>follow us</h4>
        <app-social-links></app-social-links>
      </div>
      <label for="mental-health">
        <img
          class="logo-img"
          src="../../../../assets/logo.CsmsUg0x.svg"
          alt=""
        />
      </label>
    </div>
  </div>
</footer>
