<div class="home-container">
  <div class="home-btns-wrap">
    <div class="home-btn-info">
      <img
        src="https://tse4.mm.bing.net/th?id=OIP.XKdZgJT9MaVBqYDg-5JlvgAAAA&pid=Api&P=0&h=280"
        alt=""
      />
      <button (click)="loginAdmin()" type="button" class="home-btn btn-admin">
        Admin
      </button>
    </div>
    <div class="home-btn-info">
      <img
        src="https://tse4.mm.bing.net/th?id=OIP.WDNmGR6DwQCDobUiSRLLvwHaHa&pid=Api&P=0&h=280"
        alt=""
      />
      <button (click)="loginUser()" type="button" class="home-btn btn-user">
        User
      </button>
    </div>
  </div>
</div>
