<li class="test-item">
  <article class="information [ card ]">
    <div class="img-title-wrap">
      <img [src]="test.img" alt="" />
      <div>
        <h2 class="title">{{ test.title }}</h2>
        <span class="tag">3хв ⌛</span>
      </div>
    </div>

    <p class="info">
      {{ test.subtitle }}
    </p>
    <button
      class="button readMore-btn"
      [routerLink]="['/test-details', test.id]"
    >
      <span> Читати детально </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        fill="none"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
      </svg>
      <div class="hidden-text read-more">
        <div>Чи варто проходити тест ?</div>
      </div>
    </button>
    <button class="button start-test-btn" [routerLink]="['/test', test.id]">
      <span> Розпочати зараз</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        fill="none"
      >
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4v3z" fill="currentColor" />
      </svg>
      <div class="hidden-text lets-start">
        <div>Дізнайся більше про себе.</div>
      </div>
    </button>
  </article>
</li>
