:root {
  /* Basic */
  --c-white: #fff;
  --c-black: #000;

  /* Greys */
  --c-ash: #eaeef6;
  --c-charcoal: #a0a0a0;
  --c-void: #141b22;

  /* Beige/Browns */
  --c-fair-pink: #ffedec;
  --c-apricot: #fbc8be;
  --c-coffee: #754d42;
  --c-del-rio: #917072;

  /* Greens */
  --c-java: #1fcac5;

  /* Purples */
  --c-titan-white: #f1eeff;
  --c-cold-purple: #a69fd6;
  --c-indigo: #6558d3;
  --c-governor: #4133b7;
}

.test-item {
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.06);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  transition: all 0.5s;
  list-style: none;
}

.btns-wrap {
  margin: 0 auto;
  width: 300px;

  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.test-content {
  margin-bottom: 2rem;

  display: flex;
  gap: 2rem;
}
.test-content img {
  width: 120px;
  object-fit: contain;
}
.test-text-content {
  width: 300px;
}
.test-item h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.test-item p {
  margin: 5px 0 10px;
  font-size: 14px;
  height: 60px;

  color: #555;
}

.card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  max-width: 300px;
  height: 400px;
}

.information {
  background-color: var(--c-white);
  padding: 1.5rem;
}
.information img {
  width: 200px;
}

.information .tag {
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
  display: inline-block;
  background-color: var(--c-titan-white);
  color: var(--c-indigo);
}

.information .title {
  font-size: 1.5rem;
  color: var(--c-void);
  line-height: 1.25;
  margin-top: 1rem;
}

.information .info {
  color: var(--c-charcoal);
  margin-top: 1.25rem;
}

.information .button {
  font: inherit;
  line-height: 1;
  background-color: var(--c-white);
  color: var(--c-indigo);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  transition: transform 0.3s, color 0.3s;
}
.information .start-test-btn {
  border: 1px solid var(--c-black);
  cursor: pointer;
}

.information .button:hover,
.information .button:focus {
  transform: scale(1.01);
}
