.test-item {
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.06);
  padding: 3.3rem 5.9rem 4.3rem;
  width: 550px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  transition: all 0.5s;
  list-style: none;
}

.btns-wrap {
  margin: 0 auto;
  width: 300px;

  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.test-content {
  margin-bottom: 2rem;

  display: flex;
  gap: 2rem;
}
.test-content img {
  width: 120px;
  object-fit: contain;
}
.test-text-content {
  width: 300px;
}
.test-item h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.test-item p {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #555;
}

.tests-btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 8px;
  border-radius: 3px;

  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.start {
  background-color: #007bff;
}

.details {
  background-color: green;
}

.test-item button:hover {
  background-color: #0056b3;
}

.test-item:hover {
  background-color: #f1f1f1;
}
