.test-item {
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.06);

  display: flex;
  width: 425px;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  transition: all 0.5s;
  list-style: none;
}
.img-title-wrap {
  display: flex;
  width: 100%;
}
.btns-wrap {
  margin: 0 auto;

  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.test-content {
  margin-bottom: 2rem;

  display: flex;
  gap: 2rem;
}
.test-content img {
  width: 120px;
  object-fit: contain;
}
.test-text-content {
  width: 100%;
}
.test-item h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.test-item p {
  margin: 5px 0 10px;
  font-size: 14px;
  height: 60px;

  color: #555;
}

.hidden-text {
  opacity: 0;
  width: 0px;
  height: 50px;
  bottom: -1.4rem;
  right: 0;
  font-size: 0.85rem;
  border-radius: 1rem;
  padding: 0.5rem;

  position: absolute;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
  color: #fff;
  display: block;
}

.readMore-btn:hover .read-more {
  width: 132px;
  height: 50px;
  right: -80%;
  opacity: 1;
}
.lets-start {
  right: -78%;
  background-color: rgb(36, 160, 36);
}
.read-more {
  bottom: 1.4rem;
}
.start-test-btn:hover .lets-start {
  width: 132px;
  height: 50px;
  opacity: 1;
}
.card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  max-width: 425px;
  max-height: 400px;
}

.information {
  background-color: var(--c-white);
  padding: 1.5rem;
  position: relative;
}
.information img {
  width: 200px;
}

.information .tag {
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.5em 0.75em;
  line-height: 1;
  border-radius: 6px;
  display: inline-block;
  background-color: var(--c-titan-white);
  color: var(--c-indigo);
}

.information .title {
  font-size: 1.5rem;
  color: var(--c-void);
  line-height: 1.25;
  margin-top: 1rem;
}

.information .info {
  color: var(--c-charcoal);
  margin-top: 1.25rem;
}
.readMore-btn {
  border: none;
}
.information .button {
  font: inherit;
  line-height: 1;
  background-color: var(--c-white);
  color: var(--c-indigo);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  transition: transform 0.3s, color 0.3s;
}
.information .start-test-btn {
  cursor: pointer;
}

.information .button:hover,
.information .button:focus {
  transform: scale(0.9);
}
