<li class="test-item">
  <div class="test-content">
    <div class="test-text-content">
      <h3>{{ test.title }}</h3>
      <p>{{ test.subtitle }}</p>
      <p>{{ test.subscribe }}</p>
    </div>
    <img [src]="test.img" alt="" />
  </div>
  <div class="btns-wrap">
    <button class="tests-btn start" [routerLink]="['/test-details', test.id]">
      Читати детально
    </button>
    <button class="tests-btn details" [routerLink]="['/test', test.id]">
      Розпочати зараз
    </button>
  </div>
</li>
