.change-email-container {
  display: flex;
  justify-content: center;
}

.selected-email-table {
  margin-top: 20px;
}

mat-card {
  padding: 16px;
  margin: 20px 0;
  max-width: 400px;
  margin: 0 auto;
}

table {
  max-width: 60%;
}

th.mat-header-cell {
  background-color: #f1f1f1;
  font-weight: bold;
}

td.mat-cell,
th.mat-header-cell {
  padding: 8px;
  text-align: left;
}
